*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Nunito', sans-serif;
    height: 100vh;
   
}

a{
    text-decoration: none;
}

/* Header */
#header {
    overflow: hidden;
    background-size: cover;
    background-color: #E32D5B;
    height: 120px;
    position: relative;
}


#header a:link,
#header a:visited {
font-size: 22px;
  color: #fff;
  padding: 25px 30px;
}

#logo-top{
    width: 160px;
    margin: -10px 0 0 35px;
    float: left;
}

#menu{
    display: flex;
    float: right;
    padding: 25px;
    height: 100%;
    color: white;
}
/* Fim */

/* Conteudo  */
#container-1, #container-2{
  width: 400px;
  height: 300px;
  background: linear-gradient(to left, #e32d5b 0%, #0894f1 100%);
  margin: 0 auto;
  margin-top: 120px;
  text-align: center;
  border-radius: 20px;
}

#container-1 img, #container-2 img {
    width: 120px;
    height: 120px;
    margin-top: -60px;
    margin-bottom: 30px;
    border-radius: 90px;
}
/* Fim */

/* Footer */

#footer{
    display: flex;
    background-color: #390B17;
    padding: 15px;
}

.info{
    position: relative;
    margin: 15px;
}

.title{
    font-size: 15px;
    color: #84A98C;
}

li{
    list-style-type: none;
}
 li a:link,
 li a:visited{
     color: #84A98C;
 }

 #copyright{
    color: #84A98C;
    margin: 90px 0 0 30% ;
    transform:translateY() translate;
 }