*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Nunito', sans-serif;
    height: 100vh;
}

a{
    text-decoration: none;
    color: #0894f1;
}

h4 {
    color: #fff;
    letter-spacing: 5px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 40px;
}

p{
    text-indent: 10px;
    margin: 20px auto;
    text-align: center;
    font-size:18px;
}

/* Header */
#header {
    overflow: hidden;
    background-size: cover;
     /* background-color: #e32d5b;  */
    background: linear-gradient(to left, #e32d5b 0%, #0894f1 100%);
    height: 120px;
    position: relative;
}


#header a:link,
#header a:visited {
font-size: 22px;
  color: #fff;
  padding: 25px 30px;
}

#logo-top{
    width: 160px;
    margin: -10px 0 0 35px;
    float: left;
}

#menu{
    display: flex;
    float: right;
    padding: 25px;
    height: 100%;
    color: white;
}
/* Fim */

/* Principal */
.container{
    background: linear-gradient(to left, #e32d5b 0%, #0894f1 100%);
    justify-content: center;
    display: flex;
    overflow: hidden;
}

#discription{
    display: flex;
    height: 80vh;
    background: linear-gradient(to left, #e32d5b 0%, #0894f1 100%);
    overflow: hidden;
    background-repeat: no-repeat;
}

#logo{
    width: 380px;
    position: relative;
    margin: 160px 25px 180px 89px;
}

#text--discription{
    text-align: justify;
    font-size: 22px;
    text-indent: 10px;
    padding: 50px;
    margin: 160px 89px 0 0;
    color:white;
}
/* Fim */

/* Projetos */

/* Textos e imagens */
#text-slider{
    letter-spacing: 2px;
    font-size: 40px;
    margin: 20px 860px 15px 0;
    color:white;
    cursor: pointer;
}

.title-discription{
    font-size: 45px;
    color:#0894f1;
    padding: 25px;
    cursor: pointer;
    position: relative;
}

.text-discription{
    padding: 35px;
    cursor: pointer;
}

.img-project{
    width: 680px;
    height: 350px;
    margin-top: 70px;
}
/* Fim */

/* Configurando slide */
#slider {
    width: 1350px;
    margin: 0 auto;
    overflow: hidden;
    filter: drop-shadow(10px 10px 4px rgb(44, 43, 44));
    margin-bottom: 56px;
 }
 
 #slider input[type=radio] {
    display: none;
 }
 #slider label {
    cursor:pointer;
    text-decoration: none;
 }

 #slides {
    padding: 10px;
    background: #f2f5f8;
    position: relative;
    height: 80vh;
    display: flex;
 }

 #overflow {
    width: 100%;
    overflow: hidden;
 }
 
 #slide1:checked ~ #slides .inner {
    margin-left: 0;
 }
 #slide2:checked ~ #slides .inner {
    margin-left: -100%;
 }
 #slide3:checked ~ #slides .inner {
    margin-left: -200%;
 }

 #slides .inner {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
 }

 #slides .slide {
    width: 25%;
    float:left;
    display: flex;
    height: 100%;
 }
/* Fim */

/* Configuração de controles */
#controls {
    margin: -180px 0 0 0;
    width: 100%;
    height: 50px;
    z-index: 3;
    position: relative;
 }

 #controls label {
    transition: opacity 0.2s ease-out;
    display: none;
    width: 70px;
    height: 70px;
    opacity: .3;
 }

 #controls label:hover {
    opacity: 1;
 }
/* Fim */

 /* Setas e controles */
 #slide1:checked ~ #controls label:nth-child(2),
 #slide2:checked ~ #controls label:nth-child(3),
 #slide3:checked ~ #controls label:nth-child(4),
 #slide4:checked ~ #controls label:nth-child(1) {
    background: url(../icons/next.png) no-repeat;
    float:right;
    display: flex;
    filter: drop-shadow(10px 10px 4px rgb(44, 43, 44));
 }
 
 #slide1:checked ~ #controls label:nth-last-child(2),
 #slide2:checked ~ #controls label:nth-last-child(3),
 #slide3:checked ~ #controls label:nth-last-child(4),
 #slide4:checked ~ #controls label:nth-last-child(1) {
    background: url(../icons/back.png) no-repeat;
    float:left;
    display: flex;
    filter: drop-shadow(10px 10px 4px rgb(44, 43, 44));
 }
 /* Fim */

/* Margem dos controles em todos os campos*/
#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(3),
#slide3:checked ~ #controls label:nth-child(4),
#slide4:checked ~ #controls label:nth-child(1),
#slide1:checked ~ #controls label:nth-last-child(2),
#slide2:checked ~ #controls label:nth-last-child(3),
#slide3:checked ~ #controls label:nth-last-child(4),
#slide4:checked ~ #controls label:nth-last-child(1) {
    margin: -205px 0 0 0 ;
}
/* Fim */

/* Fim */

/* Footer */
#footer{
    display: flex;
    background-color: #390B17;
    padding: 15px;
}

.info{
    position: relative;
    margin: 15px;
}

.title{
    font-size: 15px;
    color: #84A98C;
}

li{
    list-style-type: none;
}
 li a:link,
 li a:visited{
     color: #84A98C;
 }

 #copyright{
    color: #84A98C;
    margin: 90px 0 0 30% ;
    transform:translateY() translate;
 }

/* Fim */